@font-face {
    font-family: "Nexa-Bold";
    src: URL('fonts/Nexa_Bold.otf') format("truetype");
}

@font-face {
    font-family: "Nexa-Light";
    src: URL('fonts/Nexa_Light.otf') format("truetype");
}

@font-face {
    font-family: "Nexa-Black";
    src: URL('fonts/NexaBlack.otf') format("truetype");
}

@font-face {
    font-family: "Nexa";
    src: URL('fonts/NexaRegular.otf') format("truetype");
}



html * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Nexa";
}

html, body {
    background: #fff;
}

*,
*::after,*::before {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    outline: none;
}

nav {
    position: sticky;
    z-index: 999;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 15px;
    background: #fff;
}

nav > svg {
    display: block;
    height: 65px;
    background: #fff;
}

nav > .logo {
    margin: 16px 0 16px 25px;
}

.nav-list > * {
    display: inline-block;
}

.nav-list > .current-button > a{
    color: #09a8ef ;
}

.nav-list-item > a {
    display: inline-block;
    padding: 16px 12px;
    font-size: 14px;
    color: #000;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.list-container {
    display: flex;
    align-items: center;
}

.prevent-title, .symptoms-title {
    color: #09a8ef;
    font-size: 44px;
    font-family: "Nexa-Black";
    text-align: center;
    letter-spacing: 3px;
    margin-block: 35px;
}

.upper-main, .prevent-section, .symptoms-section  {
    display: flex;
    margin-inline: 45px;
}

.upper-main .definition-container {
    flex-grow: 1;
}
.prevent-section .definition-container, .symptoms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-container {
    margin-right: 75px;
}

.right-container {
    margin-left: 75px;
}

.right-container p, .left-container p {
    padding-right: 55px;
}

.upper-main h1 {
    text-transform: uppercase;
    font-family: "Nexa-Black";
    font-size: 66px;
}

.upper-main h1 span {
    color: #09a8ef;
}

.upper-main h3 {
    font-size: 32px;
    font-family: "Nexa";
}

.under-text {
    margin-block: 22px;
    font-size: 20px;
    font-family: "Nexa-Light";
    color: #212B36;
}

.upper-main .prevent-button{
    display: inline-block;
    padding: 28px 15%;
    border: none;
    border-radius: 20px;
    font-size: 26px;
    cursor: pointer;
    color: #fff;
    background-color: #09a8ef;
}

.prevent-section:last-of-type {
    margin-bottom: 35px;
}

.upper-main > img {
    width: 35%;
}

.prevent-section > .prevention-img {
    height: 300px;
}

.symptoms-section .symptoms-img {
    height: 200px;
    margin-bottom: 50px;
}

.prevent-section h3 , .symptoms-section h3 {
    font-size: 32px;
    font-family: "Nexa-Bold";
}

.center-text {
    text-align: center;
}

.center-text:last-of-type {
    margin-bottom: 60px;
}

footer {
    bottom: 0;
    width: 100%;
    padding-block: 32px 8px;
    background: #09a8ef;
}

.footer-content {
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.footer-list {
    margin-bottom: 20px;
}

.footer-list-item {
    display: inline-block;
    line-height: 38px;
}

.footer-list-item  > a {
    padding: 16px 12px;
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
}

.rights {
    text-align: center;
    color: rgba(256, 256, 256, 0.75);
}